*{

margin:0;
padding:0;



}

html{
    scroll-behavior: smooth;
}

.logo{
    width: 20%;
    display :flex;
    justify-content: center;
    align-items: center;
}

.logo img{
    width: 34%;
    border: 3px solid rgb(68, 62, 62);
    border-radius: 100px;

}

.navbar{
display: flex;
align-items: center;
justify-content: center;
position: sticky;
top:0;
cursor: pointer;

padding-top: 0px; 


}
.nav-list{
width:75%;
height: 45%;

display :flex;
align-items: center;
padding-top: 60px;
padding-bottom: 20px;
position: absolute;
margin-right: 33%;


}



.nav-list li{
    list-style:none;
   padding: 30px 20px;
   font-size: 20px;
}

.nav-list li a{
    text-decoration: none;
    color:red;
}
.nav-list li a:hover{
    color: white;
}
.sub-menu-1{
    display: none;
}

.navbar  ul  li:hover  .sub-menu-1{
    display: block;
    position:absolute;
    background:black;
    margin-top: 15px;
    margin-left: -15px;

}

.navbar  ul  li:hover  .sub-menu-1  ul{
    display: block;
    margin: 10px;
}

.navbar  ul  li:hover  .sub-menu-1  ul  li{
    width: 120px;
    padding: 12px;
    border-bottom: 1px dotted #fff;
    background: transparent;
    border-radius: 0;
    text-align: left;
}
.navbar  ul  li:hover  .sub-menu-1  ul  li:last-child{
    border-bottom: none ;
}
.rightnav{
    


 
    transform: translate(-50%,-50%);
    background:#2f3640;
    height: 40px;
    border-radius: 40px;
    margin-top: 40px;
    margin-left: 78%;
    padding:0px 0px;             
    position: relative;                                                     
    
    
}

.search-btn{

   color:white;
   float: right;
   width:40px;
   height:40px;
   border-radius: 40px;
   background:brown;
   display: flex;
   justify-content: center;
   align-items:center;
}
.search-text{
    border:none;
    background:none;
    outline:none;
    float:left;
    padding:0;
    color:white;
    font-size: 16px;
    transition: 0.45;
    line-height: 40px;
    width:0px;

}
.rightnav:hover>.search-text{
    width: 240px;
    padding: 0 6px;
}
.background{
    background:rgb(0,0,0,0.7) url("/website/divy.jpg");
    background-size: cover; 
     background-blend-mode: darken;
     

}



.box-main{
    display: flex;
    justify-content: center;
    align-items: center;
     color:white;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     max-width: 50%;
     margin: auto;
     height: 80%;

}

.firstsection{
    height: 100vh;
    /* background-image: url("/website/divy.jpg"); */
    
}

.firsthalf{
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: auto;
    padding-bottom: 25%;
  
}
p{
    font-style:oblique;
}

.secondhalf{
    width: 30px;
    
}


.secondhalf img{
    border: 4px solid white;
    border-radius: 150px;
    display: block;
    margin-left: auto;
    cursor: pointer;
}

 .text-big{
     font-size: 40px;
     

 }
 .text-small{
     font-size: 18px;
 }

 .btn{
     padding: 8px 20px;
     margin: 7px 0;
     border:2px solid white;
     border-radius: 8px;
     background:none;
    cursor: pointer;
    color: white;

 }

 .container{
     background-color : black;
     /* min-height: calc(100vh-50px); */
     color:white;
 }

 .content-container{
    /* margin-left: 20px; */

 }
 .featured-content {
    height: 140vh;
    padding: 20px;
  }
  
  .featured-title{
    transition: all 1s ease-in-out;
    width: 1000px;
    height: 500px;
    object-fit: cover;
    border-radius: 10px;
 }
 .featured-content:hover .featured-title {
    transform: scale(1.2);
    margin: 0 30px;
    opacity: 0.5;
  }

  
  .featured-desc {
    width: 500px;
    color: lightgray;
    margin: 30px 0;
  }
  
  .featured-button {
    background-color: #4dbf00;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    outline: none;
    font-weight: bold;
    cursor: pointer;
  }
  
  
 .movie-list-container{
     /* padding: 20px; */
 }
 .movie-list-wrapper{
     position: relative;
     overflow: hidden;
 }
 .movie-list
 {
     display : flex;
     align-items: center;
     height: 300px;
     transform: translateX(0);
     transition: all 1s ease-in-out;
 }
 .movie-list-item{
     margin-right: 30px;
     position: relative;
     
 }

 .movie-list-item:hover .movie-list-item-img {
    transform: scale(1.2);
    margin: 0 30px;
    opacity: 0.5;
  }

  .movie-list-item:hover .movie-list-item-title,
.movie-list-item:hover .movie-list-item-desc,
.movie-list-item:hover .movie-list-item-button {
  opacity: 1;
}

 .movie-list-item-img{
    transition: all 1s ease-in-out;
    width: 270px;
    height: 200px;
    object-fit: cover;
    border-radius: 20px;
 }

 .movie-list-item-title
{
    background-color: #333;
  padding: 0 10px;
  font-size: 32px;
  font-weight: bold;
  position: absolute;
  top: 10%;
  left: 50px;
  opacity: 0; 
  transition: 1s all ease-in-out;
} 
.movie-list-title {
 color:white;
 padding-top: 15px;
  }
.movie-list-item-desc {
    background-color: #333;
    padding: 10px;
    font-size: 14px;
    position: absolute;
    top: 30%;
    left: 50px;
    width: 230px;
     opacity: 0; 
    transition: 1s all ease-in-out;
  }

  .movie-list-item-button{
    padding: 10px;
  background-color: #4dbf00;
  color: white;
  border-radius: 10px;
  outline: none;
  border: none;
  cursor: pointer;
  position: absolute;
  bottom: 20px;
  left: 50px;
  opacity: 0;
  transition: 1s all ease-in-out;
  cursor: pointer;
  } 

  .arrow {
    font-size: 120px;
    position: absolute;
    top: 90px;
    right: 0;
    color: lightgray;
    opacity: 0.5;
    cursor: pointer;
  }

  .contact{
      background-color:red;
      height: 833px;
      

  }

  .text-center{
      text-align: center;
      padding: 7px;
      font-family: 'ubuntu' , sans-serif;
      font-size: 35px;
      color:white;
      
  }

  .form{
      max-width: 500px;
      margin: 30px auto;

  }

  .form input{
      margin: 10px 0px;
      padding: 5px 3px;
      width: 100%;
      font-size: 19px;
      border: 2px solid rgb(12, 11, 11);
      border-radius: 6px;

  }

  .text-footer{
    text-align: center;
    padding: 7px;
    font-family: 'ubuntu' , sans-serif;
    color:white;
    
  }

  /* .hlw{
     text-align: center;
     margin-left: 38% ;
     display: flex;
      color:rgb(48, 199, 43);
      
  } */
  .social{
    text-align: center;
    margin-left: 38% ;
    display: flex;
     color:rgb(48, 199, 43);
     
  }

  .social li {
      list-style: none;
      padding: 20px 20px;
      font-size: 27px;
      color:white;
  }
  
  .social li a:hover{
      text-decoration: none;
      color: rgb(223, 35, 35);
  }